<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786880487543-03ajd253q5j9a3f7fu4erbmsu9ob9313.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786880487543-03ajd253q5j9a3f7fu4erbmsu9ob9313</string>
	<key>API_KEY</key>
	<string>AIzaSyC-KK7ryxvbTQRXt0zrQQ-HAlsKnpVkUFI</string>
	<key>GCM_SENDER_ID</key>
	<string>786880487543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LM.Dreamer</string>
	<key>PROJECT_ID</key>
	<string>dreamer-15eb7</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamer-15eb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786880487543:ios:ed0a50211fe5877f982672</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6077981818818827~7343239569</string>
</dict>
</plist>